<!DOCTYPE html>
<html lang="en"  th:replace="~{base :: parent(~{::#content} ,~{})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />

</head>
<body>
    <div id="content">
        <h1 >welcome to contact page</h1>

        <p>This is contact page.</p>

        <div>
            <button class="px-3 py-3 rounded bg-blue-700 text-white hover:bg-blue-600">Click Here</button>
        </div>
        
    </div>
</body>
</html>